@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  /* variables */
  --banner-color: rgba(0, 0, 0, 0.650);
  --banner-txt-color: rgb(255, 255, 255);
  --background-color: pink;
}

* {
  padding: 0px;
  margin: 0px;
}

.content {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.bg-img {
  display: flex;
  background-image: url(/img/bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh; /* 100% */
  width: 100vw;
  min-width: 300px;
  min-height: 300px;
}

.right-side {
  width: 130vw;
  background-color: var(--background-color);
}

.banner {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: var(--banner-color);
  width: 100vw;
  height: 10vh;
  top: 20vh;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.logo-img {
  height: 8vh;
}

.logo-txt {
  justify-content: center;
  color: var(--banner-txt-color);
  font-family: 'Press Start 2P';
  font-size: 2vw;
  font-weight: 500;
}

