@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  /* variables */
  --banner-color: rgba(0, 0, 0, 0.650);
  --banner-txt-color: rgb(255, 255, 255);
  --background-color: pink;
}

* {
  padding: 0px;
  margin: 0px;
}

.content {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.bg-img {
  display: flex;
  background-image: url(/img/bg.jpg);
  background-position: center center;
  background-size: cover;
  /* width: 100vw; */
  min-width: 300px;
  min-height: 300px;
}

.right-side {
  width: 130vw;
  background-color: var(--background-color);
}

.banner {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: var(--banner-color);
  width: 100vw;
  height: 10vh;
  top: 20vh;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.logo-img {
  height: 8vh;
}

.logo-txt {
  justify-content: center;
  color: var(--banner-txt-color);
  font-family: 'Press Start 2P';
  font-size: 2vw;
  font-weight: 500;
}

.right-side {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding-top: 20vh;
  padding-left: 2vw;
}


.form {
  display: flex;
  flex-flow: row wrap;
  width: 25vw;
  gap: 20px;
}

.input {
  display: flex;
  flex-flow: column wrap;
}

.create {
  margin-top: 3vh;
}

p {
  font-size: 1.1em;
  font-family: 'Courier New', Courier, monospace;
}

input {
  font-family: 'Courier New', Courier, monospace;
  min-width: 10vw;
  min-height: 2vh;
}

label {
  font-family: 'Courier New', Courier, monospace;
}