/* border - for easy viewing of containers */
/* * {
  border: 1px solid red
} */

/* body {
  background-color: pink;
} */

/* section one */

/* header */
.section-one {
  background-color: lightpink;
  padding-bottom: 50px;
}

.header {
  display: flex;
  align-items: center;
  background-color: lightpink;
  justify-content: space-between;
  height: 100px;
  
}

.header-logo {
  display: flex;
  font-size: 24px;
  color: #f9faf9;
  padding-right: 100px;
  font-family: 'Courier New', Courier, monospace;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  
}

a {
  text-decoration: none;
  color: #f9faf9;
}

/* content */
.content {
  display: flex;
  background-color: lightpink;
  justify-content: center;
}

.main-text {
  display: flex;
  flex-direction: column;
  color: #f9faf9;
  width: 490px
}

h2 {
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 1000;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: #E5E7EB;
}

button {
  width: 80px;
}

.main-image-container {
  display: flex;
}

.main-image {
  width: 400px;
  height: 300px;
  border-radius: 10%;
}

/* section two - images */

/* image one */
.in-a-bag {
  width: 200px;
  height: 250px;
  border-radius: 20%;
}

/* image two */
.on-a-couch {
  width: 200px;
  height: 250px;
  border-radius: 20%;
}

/* image three */
.in-a-car {
  width: 200px;
  height: 250px;
  border-radius: 20%;
}

/* image four */
.running {
  width: 200px;
  height: 250px;
  border-radius: 20%;
}

.img-text {
  padding-top: 10px;
  color: black;
  width: 200px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.section-two-images {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

.section-two {
  background-color: lightsalmon;
}

h3 {
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
}

/* section three - quote */

.section-three {
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 600px;
}

.source {
  text-align: end;
  padding-right: 15px;
}

/* section four */
.section-four {
  background-color: plum;
  display: flex;
  justify-content: center;
  align-items: center;
}