@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    background-color: lightgrey;
}

#root {
    margin: auto;
    padding-top: 100px;
    width: calc(80vw);
}

#header {
    display: flex;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black; 
    border-bottom: 1px solid black;
    justify-content: center;
    font-family: 'Nova Mono', monospace;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#header > h2 {
    margin: 10px;
}

#container {
    /* border: 1px solid black; */
    border-left:2px solid black;
    border-right:2px solid black;
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 5fr;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#project {
    border-right: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

#content {
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.project-title-list:hover {
    cursor: pointer;
    color: white;
}

#project-title-div > h3 {
    margin: 2px;
    text-align: center;
}

#project-list-div {
    padding-left: 0px;
}

#project-list-div > h4 {
    margin: 5px;
}

#project-button-div {
    display: flex;
    justify-content: end;
    padding-right: 5px;
    margin: 5px;
}

#project-button-div > button {
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid grey;
    border-radius: 4px;
}

#project-button-div > button:hover {
    cursor: pointer;
}

#note-button {
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 3px;
}

#note-title-div > h3 {
    margin: 2px;
}

#note-title-div {
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-top: 10px;
}

#note-obj-div > h4 {
    margin: 2px;
}

#note-obj-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#note-delete-button {
    margin-right: 5px;
}

#project-dialog > h3 {
    margin: 0px;
    margin-bottom: 5px;
    justify-content: center;
    text-align: center;
}

#note-info-div p {
    margin: 2px;
    padding-left: 20px;
    font-size: 0.8rem;

}