body {
    background-color: lightgrey;
}

#root {
    margin: auto;
    padding-top: 100px;
    width: calc(80vw);
}

#header {
    display: flex;
    border: 1px solid black;
    justify-content: center;
}

#container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#project {
    border-right: 1px solid black;
}

#content {
    padding-left: 1em;
    display: flex;
    flex-direction: column;
}

.project-title-list:hover {
    cursor: pointer;
}

#project-title-div {
    padding-left: 5px;
}

#project-title-div > h3 {
    margin: 2px;
}

#project-list-div {
    padding-left: 15px;
}

#project-list-div > h4 {
    margin: 5px;
}

#project-button-div {
    display: flex;
    justify-content: end;
    padding-right: 5px;
    margin: 5px;
}

#note-title-div > h3 {
    margin: 2px;
}

#note-title-div {
    display: flex;
    gap: 10px;
}