@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Fira+Sans:wght@600&family=Press+Start+2P&display=swap');
/* 
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=DotGothic16&family=Fira+Sans:wght@600&family=Press+Start+2P&display=swap');
font-family: 'DotGothic16', sans-serif;
*/

/* * {
  border: 1px solid red;
} */

body {
  background-color: lightgray;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.display-window {
  border: 1px solid black;
  text-align: left;
}

#display {
  margin-left: 5px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}